### C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Numpy
*.npy
